html {
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0em;

}

header{
  background-color: #2c3950;

}

h1{
  font-family: 'Contrail One', cursive;
  color: #fff;
  text-align: center;
  background-color: #1a2230;
  margin: 0em;
  padding: 1em 0em 1em 0em;
  width: 100%;
}

div{
  padding-top: 10em;
  margin: 0em;
}

.body {
  width: 320px;
  position: absolute;
  top: 9px;

}

.brain {
  width: 46px;
  position: absolute;
  top: 0px;
  right: 138px;
}

.left {
  width: 125px;
  position: absolute;
  left: 10px;
  top: 20px;

}

.right{
  width: 125px;
  position: absolute;
}
